# Supabase 配置
VITE_PUBLIC_SUPABASE_URL=https://qpdmmzfravgswrezxsci.supabase.co
VITE_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFwZG1temZyYXZnc3dyZXp4c2NpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY2NjEyMjYsImV4cCI6MjA4MjIzNzIyNn0.Z2Ku-mxlwS1YyF0ykFbmUmmZXvnTTtY7yoUnNXDpo4E

# Admin API 地址（如果需要调用 Admin 的字幕代理）
VITE_ADMIN_API_URL=http://localhost:3000
